.app {
  padding: 1rem;
}

.app-header {
  margin-bottom: 3rem;
}

.main {
  display: flex;
  flex-direction: column;
}

.friends-panel {
  border: 1px solid #ccc;
  padding: 1rem 2rem;
}

.messages-panel {
  border: 1px solid #ccc;
  border-top: 0;
  padding: 1rem 2rem;
}

.message-list {
  align-items: center;
  border-bottom: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  margin: 0 0 1.5rem;
  padding: 0 0 1.5rem;
}

.message {
  background-color: mediumseagreen;
  border-radius: 1rem;
  color: #fff;
  padding: 0.5rem 1rem 0 1rem;
  margin: 0 auto 0.25rem 0;
  width: 80%;
}

.message span {
  font-size: 0.75rem;
}

.message-self {
  background-color: dodgerblue;
  margin-right: 0;
  margin-left: auto;
}

@media screen and (min-width: 768px) {
  .app {
    padding: 2rem 5rem;
  }

  .main {
    flex-direction: row;
  }

  .friends-panel {
    border-radius: 1rem 0 0 1rem;
    width: 25%;
  }

  .messages-panel {
    border: 1px solid #ccc;
    border-radius: 0 1rem 1rem 0;
    border-left: 0;
    width: 75%;
  }

  .message {
    width: 60%;
  }
}
